
.actionPyramid {
  text-align: center;
}

.division {
  display: inline-flex;
  vertical-align: middle;
}

.levelLabel {
  float: left;
  width:0;
  white-space: nowrap;
  font-variant: small-caps;
}

.levelActions {
  display: inline-flex;
}

.action {
  display: inline-flex;
  height: 100%;
  text-align: center;
  width: 20vw;
  background-color: var(--light);
  font-size: small;
  padding: 1em;
}

.action:first-child 
{
  border-top-left-radius: 2rem;
}

.action:last-child 
{
  border-top-right-radius: 2rem;
}