/* :root {
  --dark:   #000000;
  --darker: #210E0D;
  --medium: #653F20;
  --lighter:#915F31;
  --light:  #D99E96;
}
 */

 :root {
  --dark:   #495867;
  --darker: #577399;
  --medium: #BDD5EA;
  --lighter:#FE5F55;
  --light:  #F7F7FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
