
.outline {
  font-family: 'Courier New', Courier, monospace;
}

.item {
  overflow-x: hidden;
}

@media screen and (min-width: 35.5em) {
  .item {
    padding-left: 1em;
    font-size: small;
  }
}

@media screen and (min-width: 64em) {
  .item {
    padding-left: 2em;
    font-size: inherit;
  }
}

.itemRow {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.outlineContent > div > .item > .itemRow > span {
  font-size:1.4rem;
}

.outlineContent > div > .item > .itemRow > button.but {
  line-height:  2em;
}

.orderAndText {
  display: flex;
  flex-direction: row;
}

button.but:focus~span {
  background-color: inherit;
}
button.but:focus~div {
  text-decoration: inherit;
}

button.but {
  color:var(--darker);
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace; 
  font-weight: bold;
  border-style: none;
  outline-style: none;
  height: 1.4rem;
}

button.noChildren {
  visibility: hidden;
  
}

@keyframes arrowHL {
  from {color: var(--lighter)}
  to {color: var(--darker)}
}

button.but:focus {
  animation-name: arrowHL;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.childrenHide {
  display: flex;
  max-height: 0px;
  visibility: hidden;
  transition: flex 2.5s ease-out;
  flex: 1
}

@keyframes show {
  from {max-height: 0px;}
  to {max-height: 500px;}
}

.childrenShow {
  visibility: inherit;
  height: auto;
  overflow-y: hidden;
  animation-name: show;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease-out;
}

.order {
  width: 2ex;
  max-width: 3ex;
  text-align: right; 
  padding-right: 1ex;
  height: min-content;
}

.concept {
  color: var(--dark);
}

.action {
  color: var(--lighter);
}

.clarification {
  color: var(--darker);
}

.l1 {
  color: var(--darker);
}

.mdParent {
  display:inline;
}

.mdParent a {
  color: var(--lighter);
  text-decoration: underline;
}

.mdParent > p {
  display:inline;
}