
.outline {
  font-family: 'Courier New', Courier, monospace;
}

.item {
  overflow-x: hidden;
}

@media screen and (min-width: 35.5em) {
  .item {
    padding-left: 1em;
    font-size: small;
  }
}

@media screen and (min-width: 64em) {
  .item {
    padding-left: 2em;
    font-size: inherit;
  }
}

.itemRow {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.outlineContent > div > .item > .itemRow > span {
  font-size:1.4rem;
}

.outlineContent > div > .item > .itemRow > button.but {
  line-height:  2em;
}

.orderAndText {
  display: flex;
  flex-direction: row;
}
@keyframes textGrow {
  from {font-weight: base;}
  to {font-weight: bolder;}
}

button.but:focus~span {
  /* background-color: var(--darker); */
  text-decoration: underline;
  animation-name: textGrow;
  animation-duration: 0.0s;
  animation-fill-mode: forwards;
}
button.but:focus~div {
  /* background-color: var(--darker); */
  text-decoration: underline;
}

button.but {
  color:var(--darker);
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace; 
  font-weight: bold;
  transition: border-color .5s;
  border:1px dotted transparent;
  border-radius: 0.4em;
  height: 1.4rem;
}

button.noChildren {
  visibility: hidden;
  
}

button.but:focus {
  outline-width: 0px;
  border: 1px dotted var(--medium);
  border-radius: 0.4em;
}

.childrenHide {
  display: flex;
  max-height: 0px;
  visibility: hidden;
  transition: flex 2.5s ease-out;
  flex: 1
}

@keyframes show {
  from {max-height: 0px;}
  to {max-height: 500px;}
}

.childrenShow {
  visibility: inherit;
  height: auto;
  overflow-y: hidden;
  animation-name: show;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease-out;
}

.order {
  width: 2ex;
  max-width: 3ex;
  text-align: right; 
  padding-right: 1ex;
  height: min-content;
}

.concept {
  color: var(--dark);
}

.action {
  color: var(--lighter);
}

.clarification {
  color: var(--darker);
}

.l1 {
  color: var(--darker);
}

.mdParent {
  display:inline;
}

.mdParent a {
  color: var(--lighter);
  text-decoration: underline;
}

.mdParent > p {
  display:inline;
}