
.outline {
  font-family: 'Courier New', Courier, monospace;
}

.item {
  padding-left: 2em;
  overflow-x: hidden;
}

.itemRow {
  display: flex;
  flex-direction: row;
}

@keyframes textGrow {
  from {font-weight: base;}
  to {font-weight: bolder;}
}

button.but:focus~span {
  background-color: lightgray;
  animation-name: textGrow;
  animation-duration: 0.0s;
  animation-fill-mode: forwards;
}

button.but {
  color: gray;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace; 
  font-weight: bold;
  transition: border-color .5s;
  border:1px dotted transparent;
  border-radius: 0.4em;
  height: min-content;
}

button.noChildren {
  visibility: hidden;
  
}

button.but:focus {
  outline-width: 0px;
  border: 1px dotted gray;
  border-radius: 0.4em;
}

.childrenHide {
  display: flex;
  max-height: 0px;
  visibility: hidden;
  transition: flex 2.5s ease-out;
  flex: 1
}

@keyframes show {
  from {max-height: 0px;}
  to {max-height: 500px;}
}

.childrenShow {
  visibility: inherit;
  height: auto;
  overflow-y: hidden;
  animation-name: show;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease-out;
}

.order {
  width: 2ex;
  max-width: 3ex;
  text-align: right; 
  padding-right: 1ex;
  height: min-content;
}

.concept {
  color: darkslategrey;
}

.action {
  color:tomato;
}

.clarification {
  color: mediumseagreen;
}

.l1 {
  color: #0070f3;
}

.mdParent {
  display:inline;
}

.mdParent > p {
  display:inline;
}