.tabsAndContent {
    justify-content: center;
    width: 66vw;
}

.container {
    display: flex;
    flex-direction: row;
    width: inherit;
    max-width: inherit;
    justify-content: center;
}

.tab {
    width: 22vw;
    padding: 1rem;
    text-align: center;
}

.tab:first-child {
    border-top-left-radius: 10px;
}

.tab:last-child {
    border-top-right-radius: 10px;
}

.tab.active {
    background-color: lightgrey;
}

.tab.inactive {
    color: white;
    background-color: grey;
}

.tab.inactive:hover {
    color: white;
    background-color: grey;
    text-decoration: underline;
    cursor: pointer;
}

.tabContent {

}

.contentActive {
    background-color: lightgrey;
}

.contentInactive {
    visibility: hidden;
    max-height: 0px;
}