@media screen and (min-width: 64em) {
    .tabsAndContent {
        width: 66vw !important;
        padding-right: 80px;
    }
}

.tabsAndContent {
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: inherit;
    max-width: inherit;
    justify-content: center;
}

@media (min-width: 401px) {
    .tab {
        width: 22vw;
    }
}

.tab {
    width: 33.3vw;
    padding: 1rem;
    text-align: center;
}

.tab:first-child {
    border-top-left-radius: 10px;
}

.tab:last-child {
    border-top-right-radius: 10px;
}

.tab.active {
    background-color: var(--medium);
}

.tab.inactive {
    color: var(--light);
    background-color:var(--darker);
}

.tab.inactive:hover {
    color: var(--light);
    background-color:var(--medium);
    text-decoration: underline;
    cursor: pointer;
}

.outlineContent {
    padding-right: 5rem;
    padding-top: 1rem;
}

.extraTabContent {
    padding: 1rem;
    padding-right: 5rem;
}

.pyramidContent {
    padding: 1rem;
}

.contentActive {
    background-color: var(--medium);
    min-height: 70vh;
}

.contentInactive {
    display: none;
    max-height: 0px;
}